{% extends 'admin/base.html' %}
{% import 'macros/crud.html' as crud %}

{% set level = {0: 'info', 1: 'warning', 2: 'danger'} %}
{% set level_text = {0: 'info', 1: 'warning', 2: 'error'} %}
{% block body %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Alerts</div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th> 
            <center>
            <button id="btn-select-all" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Select All">  <span class="glyphicon glyphicon-check"/> </button> 
            <button id="btn-clear-selection" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete Selected"><span class="glyphicon glyphicon-remove"/></button> 
            </center>
        </th>
        <th>Source</th>
        <th>Stat</th>
        <th>Email</th>
        <th>Level</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
     {% for row in data %}
      <tr>
        <td>
            <center>
            <span id="edit-{{ loop.index0 }}" class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>
            <input id="checkbox-{{ loop.index0 }}" type="checkbox" aria-label="..." data-toggle="tooltip" data-placement="top" title="Mark for deletion">
            </center>
        </td>
        {% for col in row %}
            {% if loop.index in (1, 2, 3, 8) %}
            <td>
                {{ col }}
            </td>
            {% elif loop.index == 4 %}
            <td>
                <span class="label label-{{ level[col] }}"> {{ level_text[col] }} </span>
            </td>
            {% endif %}
        {% endfor %}
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
{{ crud.modal() }}
{% endblock %}

{% block tail %}
{{ super() }}
<script type="text/javascript">
{{ crud.js(data, {0:'source', 1:'stat', 2:'email', 3:'level', 4:'subject',
                    5:'message', 6:'detrend', 7:'ts'}) }}

$(function () {
    $('[data-toggle="tooltip"]').tooltip()
});

</script>
{% endblock %}