{% extends 'admin/base.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-slider.css') }}"></link>
<style>
#tolSlider .slider-selection {
    background: #BABABA;
}
</style>
{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel panel-body">    
        <div class="row">
            <div id="chart-div" style="min-width: 310px; height: 450px; margin: 0 auto"></div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">

      <div class="col-md-4">
        <center>
            <h3>
            Set tolerance
            </h3>
            <hr>
        </center>
        <input style="width:300px" id="tol-slider" data-slider-id='tolSlider' type="text" class="span2" value="" data-slider-min="{{ min_min_tol }}" data-slider-max="{{ max_max_tol }}" data-slider-step="{{ (max_max_tol - min_min_tol)/steps }}" data-slider-value="[{{ min_tol }},{{ max_tol }}]"/> 
      </div>

      <div class="col-md-4">
        <center>
            <h3>
            Detrend
            </h3>
            <hr>
        </center>
        <div class="row">
            <center>
                <button type="button" id="detrend-btn" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Remove trends on plot residuals"> Residuals <span class="glyphicon glyphicon-signal"></span></button>
            </center>
        </div>
        <div class="row">
            <center><div id="trend-info"></div></center>
        </div>        
      </div>
      <div class="col-md-4">
        <center>
            <h3>
            Create alert
            </h3>
            <hr>
        </center>
        <div class="row">
            <center>
                <input type="checkbox" aria-label="..."> <span class="label label-success">Info</span>
                &nbsp
                <input type="checkbox" aria-label="..."> <span class="label label-warning">Warning</span>
                &nbsp
                <input type="checkbox" aria-label="..."> <span class="label label-danger">Error</span>
            </center>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <center>
                    <input style="width:200px" id="email" placeholder="email">
                    <button id="range-btn" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Create alert for current context"><span class="glyphicon glyphicon-ok"></span></button>
                </center>
            </div>
        </div>
      </div>
    </div>
    <hr/>
</div>


{% endblock %}

{% block tail %}
{{ super() }}
<script src="{{ url_for('static', filename='highstock.js') }}"></script>
<script src="{{ url_for('static', filename='highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='highcharts-more.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-slider.js') }}"></script>
<script type="text/javascript">
$(function () {
    var chart = JSON.parse('{{ chart|safe }}')
    $('#chart-div').highcharts('StockChart', chart)
});

function getQueryParams() {
    var qs = document.location.search;
    qs = qs.split("+").join(" ");
    var params = {}, tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;
    while (tokens = re.exec(qs)) {
        params[decodeURIComponent(tokens[1])]
            = decodeURIComponent(tokens[2]);
    }
    return params;
}

function formatQueryString(params) {    
    var kv = Array()
    for (key in params) {
        kv.push(key + "=" + params[key])
    }
    return "?" + kv.join("&")
}

$("#tol-slider").slider({
    formatter: function(val) {
        if (Array.isArray(val)) {
            return "min: " + Math.round(val[0]*100)/100.0 + ", max: " + Math.round(val[1]*100)/100.0;
        } else {
            return val;
        }
    },
    width: 1000,
});

$("#detrend-btn").click(function(){
    var params = getQueryParams()
    params['detrend'] = true
    var query_string = formatQueryString(params)
    document.location = window.location.pathname + query_string
});

var timeout = null;
$("#tol-slider").change(function(e){
  if($(this).data("lastval")!= $(this).val()){
    $(this).data("lastval",$(this).val());
    if (timeout !== null) {
      clearTimeout(timeout);
    }
    //if no new input is entered within 0.5 seconds, apply the filters
    timeout = setTimeout(function() {
        var range = $("#tol-slider").val();
        var min_tol = range.split(',')[0]
        var max_tol = range.split(',')[1]
        var params = getQueryParams()
        params['min_tol'] = min_tol
        params['max_tol'] = max_tol
        var query_string = formatQueryString(params)
        document.location = window.location.pathname + query_string
    }, 500);
  };
});


$(function () {
    $('[data-toggle="tooltip"]').tooltip()
});

</script>
{% endblock %}